reports/spring_2018_report/**/*.png
**__pycache__
**__temp__.pov
**__pycache__
**.pyc
**.tfrecord
**.log
**.aux
**.toc
data/**/*.png
data/**/*.npy
reports/grant
models/coupled_sphers/detection_*.png
!models/coupled_sphers/detection_*0.png

