reports/spring_2018_report/**/*.png
**__pycache__
**__temp__.pov
**__pycache__
**.pyc
**.tfrecord
**.log
**.aux
**.toc
**checkpoint
**.hdf5*
**.pyc
**.bak
**flycheck_*.py
data/**/*.png
data/**/*.jpg
data/**/*.npy
data/**/*.txt
data/particle_tracking
!data/gyros/labels.npy
data/shadowed_right_spheres
reports/grant
reports/**/*.out
reports/**/*.el
batch/train/**/*.batch
models/**/*.npy
models/**/waltzing_spheres/*.mp4
models/**/*.mp4
**/cache/
!models/gyros*/**/detections.mp4
reports/
thesis/
**.xcf