[submodule "artifice/mp4writer"]
	path = artifice/mp4writer
	url = https://github.com/bendkill/mp4writer
[submodule "artifice/sbnet"]
	path = artifice/sbnet
	url = https://github.com/bendkill/sbnet.git
