reports/spring_2018_report/**/*.png
**__pycache__
**__temp__.pov
**__pycache__
**.pyc
**.tfrecord
**.log
**.aux
**.toc
**checkpoint
**.hdf5*
**.pyc
data/**/*.png
data/**/*.npy
reports/grant
models/coupled_spheres/detection_*.*
!models/coupled_spheres/detection_0.*
!models/coupled_spheres/detection_1.*
!models/coupled_spheres/detection_2.*
!models/coupled_spheres/detection_3.*
!models/coupled_spheres/detection_4.*
